template(name="sak")
  .sak.object(class="{{#if isEdited}}is-edited{{/if}}" data-family="sak" data-id="#{_id}")
    .form-area
      if not isNew
        .row
          .col-xs-1.col-md-1
            h4
              span.sortable-handle(class="{{#if isEdited}}stop-editing{{else}}start-editing{{/if}} {{#if not number}}text-muted{{/if}}" data-edited-property="number")
                if number
                  | #{number}
                else
                  | {{t "forms.sak.numberIsEmpty"}}
          .col-xs-7.col-md-9.name
            h4
              span.sortable-handle(class="{{#if isEdited}}stop-editing{{else}}start-editing{{/if}} {{#if not name}}text-muted{{/if}}" data-edited-property="name")
                if name
                  | #{name}
                else
                  | {{t "forms.sak.nameIsEmpty"}}
          .col-xs-2.col-md-1.duration
            if not isEdited
              if maximumDuration
                h4(class=durationOverflowClass) {{milliseconds2hourminutes maximumDuration}}
          .col-xs-2.col-md-1.duration
            if not isEdited
              if calculatedDurationSum
                h4.text-muted {{milliseconds2hourminutes calculatedDurationSum}}
      if isEdited
        .row
          .col-xs-1.col-md-1
          .col-xs-10.col-md-10
            form.form-horizontal(role="form")
              .form-group
                label.sr-only.control-label Name
                div.col-xs-12
                  +input(family="sak" _id=_id property="name" value=name placeholderI18n="forms.sak.namePlaceholder" isNew=isNew)
              .form-group
                label.col-xs-5.col-md-3.control-label Number
                div.col-xs-7.col-md-3.input-group
                  +input(family="sak" _id=_id property="number" value=number placeholderI18n="forms.sak.numberPlaceholder" isNew=isNew)
              .form-group
                label.col-xs-5.col-md-3.control-label Case duration
                div.col-xs-7.col-md-3.input-group
                  +durationInput(family="sak" _id=_id property="maximumDuration" value=maximumDuration placeholderI18n="forms.sak.maximumDurationPlaceholder" isNew=isNew)
                  span.input-group-addon minutes
              .form-group
                label.col-xs-5.col-md-3.control-label Talk duration
                div.col-xs-7.col-md-3.input-group
                  +durationInput(family="sak" _id=_id property="talkDuration" value=talkDuration placeholderI18n="forms.sak.talkDurationPlaceholder" isNew=isNew)
                  span.input-group-addon minutes
              .form-group
                label.col-xs-5.col-md-3.control-label Reply duration
                div.col-xs-7.col-md-3.input-group
                  +durationInput(family="sak" _id=_id property="replyDuration" value=replyDuration placeholderI18n="forms.sak.replyDurationPlaceholder" isNew=isNew)
                  span.input-group-addon minutes
              .form-group
                label.col-xs-5.col-md-3.control-label Answer duration
                div.col-xs-7.col-md-3.input-group
                  +durationInput(family="sak" _id=_id property="answerDuration" value=answerDuration placeholderI18n="forms.sak.answerDurationPlaceholder" isNew=isNew)
                  span.input-group-addon minutes
              button.btn.btn-primary(type='submit')
                span.fa.fa-check
                | Save case
              button.btn.btn-link.remove(data-confirmation="{{t 'forms.sak.actions.removeConfirmation'}}")
                | Delete
    .talks
      each talks
        +talk
    if isAddingTalk
      .add-talk-wrapper.add-objects-wrapper
        .row
          .col-xs-1.col-md-1
          .col-xs-7.col-md-9
            form.form-horizontal(role="form")
              .form-group
                label.sr-only(for="add-talk-query") Search
                div.col-xs-12.col-md-6
                  input#add-talk-query.add-talk-query.form-control(name="query" type="search" placeholder="Type delegate name to search..." value="{{Session 'add-talk-query'}}")
            if addTalkSearchResults.count
              .row.results
                each addTalkSearchResults
                  .col-xs-12.col-md-6
                    h5.user(data-id=_id class="{{#if isAlreadyAdded}}already-added text-muted{{/if}}")
                      +userpin(user=.)
                      if isAlreadyAdded
                        i.fa.fa-check.align-middle
            .row.buttons
              div.col-xs-6
                button.btn.btn-primary.cancel
                  i.fa.fa-check
                  | Finish adding talks
    else
      if not isNew
        .add-talk-link-wrapper
          .row
            .col-xs-7.col-md-9.name
              a(href="#").btn.btn-default.add-object.add-talk
                i.fa.fa-plus
                | Add talk
