template(name="sak")
  .object(class="{{#if isEdited}}is-edited{{/if}}" data-family="sak" data-id="#{_id}")
    .row
      .col-xs-1.col-md-1.control-icons.text-right
        h3
          if isEdited
            i.fa.fa-check.stop-editing
      .col-xs-6.col-md-8.name
        h3
          if isEdited
            +textarea(family="sak" property="name" _id=_id placeholderI18n="forms.sak.namePlaceholder" value=name)
          else
            span(class="{{#if not isEdited}}start-editing{{/if}} {{#if not name}}text-muted{{/if}}")
              if name
                | #{name}
              else
                | {{t "forms.sak.nameIsEmpty"}}
            | &nbsp;
            small #{number}
      .col-xs-2.col-md-1.duration
        if not isEdited
          if maximumDuration
            h3(class=durationOverflowClass) {{milliseconds2hourminutes maximumDuration}}
      .col-xs-2.col-md-1.duration
        if not isEdited
          if calculatedDurationSum
            h3.text-muted {{milliseconds2hourminutes calculatedDurationSum}}
      .col-xs-1.col-md-1.control-icons.text-center
        h3
          if isEdited
            i.fa.fa-trash-o.remove(data-confirmation="{{t 'forms.sak.actions.removeConfirmation'}}")
    if isEdited
      .row
        .col-xs-1.col-md-1.control-icons.text-right
        .col-xs-6.col-md-8
          form.form-horizontal(role="form")
            .form-group
              label.col-xs-4.col-md-3.control-label Number
              div.col-xs-6.col-md-3
                +input(family="sak" property="number" _id=_id placeholderI18n="forms.sak.numberPlaceholder" value=number)
            .form-group
              label.col-xs-4.col-md-3.control-label Case duration
              div.col-xs-6.col-md-3
                +durationInput(family="sak" property="maximumDuration" _id=_id placeholderI18n="forms.sak.maximumDurationPlaceholder" value=maximumDuration)
            .form-group
              label.col-xs-4.col-md-3.control-label Talk duration
              div.col-xs-6.col-md-3
                +durationInput(family="sak" property="talkDuration" _id=_id placeholderI18n="forms.sak.talkDurationPlaceholder" value=talkDuration)
            .form-group
              label.col-xs-4.col-md-3.control-label Reply duration
              div.col-xs-6.col-md-3
                +durationInput(family="sak" property="replyDuration" _id=_id placeholderI18n="forms.sak.replyDurationPlaceholder" value=replyDuration)
  .talks
    each talks
      .row.talk
        .col-xs-1.col-md-1.control-icons.text-right
        .col-xs-6.col-md-8.name
          h4: a(href="/user/#{user._id}") #{user.profile.name}
        .col-xs-2.col-md-1.duration
        .col-xs-2.col-md-1.duration
          h4.text-muted {{milliseconds2hourminutes ../talkDuration}}
        .col-xs-1.col-md-1.control-icons.text-center
      .replies
        each replies
          .row.reply
            .col-xs-1.col-md-1.control-icons.text-right
            .col-xs-6.col-md-8.name
              | +
              a(href="/user/#{user._id}") #{user.profile.name}
            .col-xs-2.col-md-1.duration
            .col-xs-2.col-md-1.duration
              span.text-muted {{milliseconds2hourminutes ../../replyDuration}}
            .col-xs-1.col-md-1.control-icons.text-center
  if not isNew
    .row.talk.add
      .col-xs-1
      .col-xs-8.name
        h4.text-muted Add delegate
