template(name="sak")
  .object(class="{{#if isEdited}}is-edited{{/if}}" data-family="sak" data-id="#{_id}")
    .row
      .col-xs-1.col-md-1.control-icons.text-right
        h4
          if isEdited
            i.fa.fa-check.stop-editing
          else
            span(class="{{#if not isEdited}}start-editing{{/if}}")
              | #{number}
      .col-xs-6.col-md-8.name
        h4
          if isEdited
            +textarea(family="sak" _id=_id property="name" value=name placeholderI18n="forms.sak.namePlaceholder" isNew=isNew)
          else
            span(class="{{#if not isEdited}}start-editing{{/if}} {{#if not name}}text-muted{{/if}}")
              if name
                | #{name}
              else
                | {{t "forms.sak.nameIsEmpty"}}
      .col-xs-2.col-md-1.duration
        if not isEdited
          if maximumDuration
            h4(class=durationOverflowClass) {{milliseconds2hourminutes maximumDuration}}
      .col-xs-2.col-md-1.duration
        if not isEdited
          if calculatedDurationSum
            h4.text-muted {{milliseconds2hourminutes calculatedDurationSum}}
      .col-xs-1.col-md-1.control-icons.text-center
        h4
          if isEdited
            i.fa.fa-trash-o.remove(data-confirmation="{{t 'forms.sak.actions.removeConfirmation'}}")
    if isEdited
      .row
        .col-xs-1.col-md-1.control-icons.text-right
        .col-xs-6.col-md-8
          form.form-horizontal(role="form")
            .form-group
              label.col-xs-4.col-md-3.control-label Number
              div.col-xs-6.col-md-3.input-group
                +input(family="sak" _id=_id property="number" value=number placeholderI18n="forms.sak.numberPlaceholder" isNew=isNew)
            .form-group
              label.col-xs-4.col-md-3.control-label Case duration
              div.col-xs-6.col-md-3.input-group
                +durationInput(family="sak" _id=_id property="maximumDuration" value=maximumDuration placeholderI18n="forms.sak.maximumDurationPlaceholder" isNew=isNew)
                span.input-group-addon minutes
            .form-group
              label.col-xs-4.col-md-3.control-label Talk duration
              div.col-xs-6.col-md-3.input-group
                +durationInput(family="sak" _id=_id property="talkDuration" value=talkDuration placeholderI18n="forms.sak.talkDurationPlaceholder" isNew=isNew)
                span.input-group-addon minutes
            .form-group
              label.col-xs-4.col-md-3.control-label Reply duration
              div.col-xs-6.col-md-3.input-group
                +durationInput(family="sak" _id=_id property="replyDuration" value=replyDuration placeholderI18n="forms.sak.replyDurationPlaceholder" isNew=isNew)
                span.input-group-addon minutes
  .talks
    each talks
      +talk
  //if not isNew
  //  .row.talk.add
  //    .col-xs-1
  //    .col-xs-8.name
  //      h4.text-muted Add delegate
