template(name="fieldsets")
  fieldset
    legend Input options
    .row
      .col-xs-6
        .form-group
          label.control-label Start date
          .input-group
            span.input-group-addon
              +checkbox(family="query" _id=_id property="startDateEnabled" value=startDateEnabled isNew=isNew)
            +date(family="query" _id=_id property="startDate" value=startDate enabled=startDateEnabled placeholder="yyyy/mm/dd" isNew=isNew)
            span.input-group-addon
              i.glyphicon.glyphicon-calendar
      .col-xs-6
        .form-group
          label.control-label End date
          .input-group
            span.input-group-addon
              +checkbox(family="query" _id=_id property="endDateEnabled" value=endDateEnabled isNew=isNew)
            +date(family="query" _id=_id property="endDate" value=endDate enabled=endDateEnabled placeholder="yyyy/mm/dd" isNew=isNew)
            span.input-group-addon
              i.glyphicon.glyphicon-calendar
    .row
      .col-xs-6
        .form-group
          label.control-label Types
          .input-group
            span.input-group-addon
              +checkbox(family="query" _id=_id property="typesEnabled" value=typesEnabled isNew=isNew)
            +chosen(family="query" _id=_id property="types" value=types options=typesOptions multiple=true enabled=typesEnabled isNew=isNew)
      .col-xs-6
        .form-group
          label.control-label Sensor
          .input-group
            span.input-group-addon
              +checkbox(family="query" _id=_id property="sensorEnabled" value=sensorEnabled isNew=isNew)
            +input(family="query" _id=_id property="sensor" value=sensor enabled=sensorEnabled isNew=isNew)
  fieldset
    legend Partitioning options
    .row
      .col-xs-6
        .form-group
          label.control-label Source IP
          .input-group
            span.input-group-addon
              +checkbox(family="query" _id=_id property="saddressEnabled" value=saddressEnabled isNew=isNew)
            +input(family="query" _id=_id property="saddress" value=saddress enabled=saddressEnabled isNew=isNew)
      .col-xs-6
        .form-group
          label.control-label Source port
          .input-group
            span.input-group-addon
              +checkbox(family="query" _id=_id property="sportEnabled" value=sportEnabled isNew=isNew)
            +input(family="query" _id=_id property="sport" value=sport enabled=sportEnabled isNew=isNew)
    .row
      .col-xs-6
        .form-group
          label.control-label Destination IP
          .input-group
            span.input-group-addon
              +checkbox(family="query" _id=_id property="daddressEnabled" value=daddressEnabled isNew=isNew)
            +input(family="query" _id=_id property="daddress" value=daddress enabled=daddressEnabled isNew=isNew)
      .col-xs-6
        .form-group
          label.control-label Destination port
          .input-group
            span.input-group-addon
              +checkbox(family="query" _id=_id property="dportEnabled" value=dportEnabled isNew=isNew)
            +input(family="query" _id=_id property="dport" value=dport enabled=dportEnabled isNew=isNew)
    .row
      .col-xs-6
        .form-group
          label.control-label Any IP
          .input-group
            span.input-group-addon
              +checkbox(family="query" _id=_id property="anyAddressEnabled" value=anyAddressEnabled isNew=isNew)
            +input(family="query" _id=_id property="anyAddress" value=anyAddress enabled=anyAddressEnabled isNew=isNew)
      .col-xs-6
        .form-group
          label.control-label Any port
          .input-group
            span.input-group-addon
              +checkbox(family="query" _id=_id property="aportEnabled" value=aportEnabled isNew=isNew)
            +input(family="query" _id=_id property="aport" value=aport enabled=aportEnabled isNew=isNew)
    .row
      .col-xs-6
        .form-group
          label.control-label Protocol
          .input-group
            span.input-group-addon
              +checkbox(family="query" _id=_id property="protocolEnabled" value=protocolEnabled isNew=isNew)
            +input(family="query" _id=_id property="protocol" value=protocol enabled=protocolEnabled isNew=isNew)
      .col-xs-6
        .form-group
          label.control-label Flags
          .input-group
            span.input-group-addon
              +checkbox(family="query" _id=_id property="flagsAllEnabled" value=flagsAllEnabled isNew=isNew)
            +input(family="query" _id=_id property="flagsAll" value=flagsAll enabled=flagsAllEnabled isNew=isNew)
    .row
      .col-xs-6
        .form-group
          label.control-label Source IP Set
          .input-group
            span.input-group-addon
              +checkbox(family="query" _id=_id property="sipSetEnabled" value=sipSetEnabled isNew=isNew)
            +chosen(family="query" _id=_id property="sipSet" value=sipSet options=ipsets enabled=sipSetEnabled withEmptyOption=true isNew=isNew)
            span.input-group-btn
              a.btn.btn-default(href="/ipset/{{sipSet}}", disabled="{{not sipSet}}")
                i.fa.fa-pencil
              a.btn.btn-default(href="/ipset/create")
                i.fa.fa-plus
      .col-xs-6
        .form-group
          label.control-label Active time
          .input-group
            span.input-group-addon
              +checkbox(family="query" _id=_id property="activeTimeEnabled" value=activeTimeEnabled isNew=isNew)
            +input(family="query" _id=_id property="activeTime" value=activeTime enabled=activeTimeEnabled isNew=isNew)
    .row
      .col-xs-6
        .form-group
          label.control-label Destination IP Set
          .input-group
            span.input-group-addon
              +checkbox(family="query" _id=_id property="dipSetEnabled" value=dipSetEnabled isNew=isNew)
            +chosen(family="query" _id=_id property="dipSet" value=dipSet options=ipsets enabled=dipSetEnabled withEmptyOption=true isNew=isNew)
            span.input-group-btn
              a.btn.btn-default(href="/ipset/{{dipSet}}", disabled="{{not dipSet}}")
                i.fa.fa-pencil
              a.btn.btn-default(href="/ipset/create")
                i.fa.fa-plus
      .col-xs-6
        .form-group
          label.control-label Source country
          .input-group
            span.input-group-addon
              +checkbox(family="query" _id=_id property="sccEnabled" value=sccEnabled isNew=isNew)
            +chosen(family="query" _id=_id property="scc" value=scc options=countriesOptions multiple=true enabled=sccEnabled isNew=isNew)
    .row
      .col-xs-6
        .form-group
          label.control-label Any IP Set
          .input-group
            span.input-group-addon
              +checkbox(family="query" _id=_id property="anySetEnabled" value=anySetEnabled isNew=isNew)
            +chosen(family="query" _id=_id property="anySet" value=anySet options=ipsets enabled=anySetEnabled withEmptyOption=true isNew=isNew)
            span.input-group-btn
              a.btn.btn-default(href="/ipset/{{anySet}}", disabled="{{not anySet}}")
                i.fa.fa-pencil
              a.btn.btn-default(href="/ipset/create")
                i.fa.fa-plus
      .col-xs-6
        .form-group
          label.control-label Destination country
          .input-group
            span.input-group-addon
              +checkbox(family="query" _id=_id property="dccEnabled" value=dccEnabled isNew=isNew)
            +chosen(family="query" _id=_id property="dcc" value=dcc options=countriesOptions multiple=true enabled=dccEnabled isNew=isNew)
  fieldset
    legend Additional options
    .row
      .col-xs-6
        .form-group
          .input-group.additional-parameters-form-group
            span.input-group-addon
              +checkbox(family="query" _id=_id property="additionalParametersEnabled" value=additionalParametersEnabled isNew=isNew)
            +input(family="query" _id=_id property="additionalParameters" value=additionalParameters enabled=additionalParametersEnabled placeholder="Raw command-line options" isNew=isNew)
    legend Exclusions
    .row
      .col-xs-6
        .form-group
          .input-group.additional-parameters-form-group
            span.input-group-addon
              +checkbox(family="query" _id=_id property="additionalExclusionsCmdEnabled" value=additionalExclusionsCmdEnabled isNew=isNew)
            +input(family="query" _id=_id property="additionalExclusionsCmd" value=additionalExclusionsCmd enabled=additionalExclusionsCmdEnabled placeholder="Use \"OR\" to separate exclusions, for example: --type=7 OR --dport=80" isNew=isNew)
  fieldset
    legend Output type
    .row
      .col-xs-6
        .input-group
          .input-group-btn
            .btn-group
              button.set-property.btn.btn-default(class="{{#if condition output 'is' 'rwcut'}}active{{/if}} {{#if ../isDashboard}}btn-xs{{/if}}", data-property="output", data-value="rwcut", type="button")
                i.fa.fa-bars
                | Records
              button.set-property.btn.btn-default(class="{{#if condition output 'is' 'rwstats'}}active{{/if}} {{#if ../isDashboard}}btn-xs{{/if}}", data-property="output", data-value="rwstats", type="button")
                i.fa.fa-tasks
                | Stats
              button.set-property.btn.btn-default(class="{{#if condition output 'is' 'rwcount'}}active{{/if}} {{#if ../isDashboard}}btn-xs{{/if}}", data-property="output", data-value="rwcount", type="button")
                i.fa.fa-bar-chart-o
                | Count
  if condition output "is" "rwstats"
    fieldset.rwstats-parameters
      legend Stats parameters
      .row
        .col-xs-2
          .input-group.direction-input-group
            .input-group-btn
              .btn-group
                button.set-property.btn.btn-default(class="{{#if condition rwstatsDirection 'is' 'top'}}active{{/if}} {{#if ../isDashboard}}btn-xs{{/if}}", data-property="rwstatsDirection", data-value="top", type="button")
                  i.fa.fa-hand-o-up
                  | Top
                button.set-property.btn.btn-default(class="{{#if condition rwstatsDirection 'is' 'bottom'}}active{{/if}} {{#if ../isDashboard}}btn-xs{{/if}}", data-property="rwstatsDirection", data-value="bottom", type="button")
                  i.fa.fa-hand-o-down
                  | Bottom
        .col-xs-2
          .form-group
            .input-group
              span.input-group-addon.equisize-input-group-addon
                label
                  +radio(family="query" _id=_id object=. property="rwstatsMode" value="count" isNew=isNew)
                  | Count
              +input(family="query" _id=_id property="rwstatsCountModeValue" value=rwstatsCountModeValue enabled=rwstatsCountModeValueIsEnabled isNew=isNew)
        .col-xs-2
          .form-group
            .input-group
              span.input-group-addon.equisize-input-group-addon
                label
                  +radio(family="query" _id=_id object=. property="rwstatsMode" value="threshold" isNew=isNew)
                  | Threshold
              +input(family="query" _id=_id property="rwstatsThresholdModeValue" value=rwstatsThresholdModeValue enabled=rwstatsThresholdModeValueIsEnabled isNew=isNew)
        .col-xs-2
          .form-group
            .input-group
              span.input-group-addon.equisize-input-group-addon
                label
                  +radio(family="query" _id=_id object=. property="rwstatsMode" value="percentage" isNew=isNew)
                  | Percentage
              +input(family="query" _id=_id property="rwstatsPercentageModeValue" value=rwstatsPercentageModeValue enabled=rwstatsPercentageModeValueIsEnabled isNew=isNew)
        .col-xs-2.col-xs-offset-2.equisize-input-group-addon
          .input-group
            span.input-group-addon
              label
                +checkbox(family="query" _id=_id property="rwstatsBinTimeEnabled" value=rwstatsBinTimeEnabled isNew=isNew)
                | Bin time
            +input(family="query" _id=_id property="rwstatsBinTime" value=rwstatsBinTime placeholder="60" enabled=rwstatsBinTimeEnabled isNew=isNew)
    fieldset.display-fields-block
      legend Stats keys
      .row
        .col-xs-12
          each rwstatsFieldsOrder
            .checkbox
              label
                input.field-checkbox(type="checkbox", checked="{{fieldIsSelected .. 'rwstatsFields'}}", value="{{.}}", data-property="rwstatsFields")
                | {{t fieldI18nString}}
    fieldset.display-fields-block
      legend Stats values
      .row
        .col-xs-12
          each rwstatsValuesOrder
            .checkbox
              label
                input.field-checkbox(type="checkbox", checked="{{fieldIsSelected .. 'rwstatsValues'}}", value="{{.}}", data-property="rwstatsValues")
                if condition . "in" share.rwstatsValues
                  strong {{t fieldI18nString}}
                else
                  | {{t fieldI18nString}}
      .row
        .col-xs-4
          .form-group
            +chosen(family="query" _id=_id property="rwstatsPrimaryValue" value=rwstatsPrimaryValue options=rwstatsPrimaryValueOptions placeholder="Primary stats value" withEmptyOption=true isNew=isNew)
  if condition output "is" "rwcount"
    fieldset.rwcount-parameters
      legend Count parameters
      .row
        .col-xs-5
          .form-group
            label.control-label Bin size
            .input-group
              span.input-group-addon
                +checkbox(family="query" _id=_id property="rwcountBinSizeEnabled" value=rwcountBinSizeEnabled isNew=isNew)
              +input(family="query" _id=_id property="rwcountBinSize" value=rwcountBinSize enabled=rwcountBinSizeEnabled isNew=isNew)
        .col-xs-5
          .form-group
            label.control-label Load scheme
            .input-group
              span.input-group-addon
                +checkbox(family="query" _id=_id property="rwcountLoadSchemeEnabled" value=rwcountLoadSchemeEnabled isNew=isNew)
              +chosen(family="query" _id=_id property="rwcountLoadScheme" value=rwcountLoadScheme options=rwcountLoadSchemeOptions enabled=rwcountLoadSchemeEnabled isNew=isNew)
        .col-xs-2
          .form-group
            label.control-label Skip zeroes
            .input-group.fake-input-group
              span.input-group-addon
                +checkbox(family="query" _id=_id property="rwcountSkipZeroes" value=rwcountSkipZeroes isNew=isNew)
              .fake-input
  fieldset
    legend Final query
    .row
      .col-xs-12
        if inputCommand
          code.query-display
            | $ {{inputCommand}}
          code.query-display
            | $ {{outputCommand null currentUser.profile}}
        else
          code.query-display
            em Please set some options to build the query
