template(name="ipsetCreate")
  .container-fluid.ipset-default.ipset-create
    .row
      .col-xs-12
        with ipset
          form.panel.panel-default
            .panel-heading
              .form-group
                label IP Set name
                +input(family="ipset" _id=_id property="name" value=name isNew=isNew)
            .panel-body
              .form-group
                label Note
                +textarea(family="ipset" _id=_id property="note" value=note isNew=isNew)
              .form-group
                label IP addresses
                +textarea(family="ipset" _id=_id property="contents" value=contents isNew=isNew)
              .form-group
                button.btn.btn-primary(type="submit") Create
