template(name="talk")
  .object.talk(class="{{#if isEdited}}is-edited{{/if}}" data-family="talk" data-id="#{_id}")
    .form-area
      if not isNew
        .row
          .col-xs-1.col-md-1
          .col-xs-7.col-md-9.name
            h5.user
              +userpin(user=user isEditable=true isEdited=isEdited)
              if isEdited
                span.add-reply-link-wrapper.align-middle.text-muted
                  if not user.status.online
                    | -
                  span.add-object.add-reply Add reply
          .col-xs-2.col-md-1.duration
          .col-xs-2.col-md-1.duration
            h5.text-muted
              span.align-middle {{share.milliseconds2minutes ../talkDuration}}
      if isEdited
        .row
          .col-xs-1.col-md-1
          .col-xs-10.col-md-10
            form.form-horizontal(role="form")
              button.btn.btn-primary(type='submit')
                span.fa.fa-check
                | Save talk
              button.btn.btn-link.remove(data-confirmation="{{t 'forms.talk.actions.removeConfirmation'}}")
                | Delete
    .replies
      each replies
        +reply
    if replies.count
      .object.answer
        .row
          .col-xs-1.col-md-1
          .col-xs-7.col-md-9.shifted
            .user
              | ⌙
              +userpin(user=user)
              em.align-middle (answer)
          .col-xs-2.col-md-1.duration
          .col-xs-2.col-md-1.duration
            h5.text-muted
              span.align-middle {{share.milliseconds2minutes ../answerDuration}}
    if isAddingReply
      .add-reply-wrapper.add-objects-wrapper
        .row
          .col-xs-1.col-md-1
          .col-xs-7.col-md-9
            form.form-horizontal(role="form")
              .form-group
                label.sr-only(for="add-reply-query") Search
                div.col-xs-12.col-md-6
                  input#add-reply-query.add-reply-query.form-control(name="query" type="search" placeholder="Type delegate name to search..." value="{{Session 'add-reply-query'}}")
            if addReplySearchResults.count
              .row.results
                each addReplySearchResults
                  .col-xs-12.col-md-6
                    h5.user(data-id=_id class="{{#if replyCount}}text-muted{{/if}}" data-reply-count=replyCount)
                      +userpin(user=.)
                      if replyCount
                        span.align-middle.text-muted +#{replyCount}
            .row.buttons
              div.col-xs-6
                button.btn.btn-primary.cancel
                  i.fa.fa-check
                  | Finish adding replies
