template(name="meeting")
  with meeting
    .container.meeting
      .row
        .col-lg-12
          h1 #{name}
          each saker
            h2
              | #{name}
              | &nbsp;
              small #{number}
            ul
              each talks
                with user
                  li
                    a(href=pathForUser) #{profile.name}
                ul
                  each replies
                    with user
                      li
                        a(href=pathForUser) #{profile.name}


