template(name="meeting")
  .row.object(class="{{#if isEdited}}is-edited{{/if}}" data-family="meeting" data-id="#{_id}")
    .col-lg-1.control-icons.text-right
      h2
        if isEdited
          i.fa.fa-check.stop-editing
          //| &nbsp;
          //i.fa.fa-cog
    .col-lg-8.name
      h2
        if isEdited
          +textarea(family="meeting" property="name" _id=_id placeholderI18n="forms.meeting.namePlaceholder" value=name)
        else
          span(class="{{#if not isEdited}}start-editing{{/if}} {{#if not name}}text-muted{{/if}}")
            if name
              | #{name}
            else
              | {{t "forms.meeting.nameIsEmpty"}}
    .col-lg-1.duration
      if maximumDurationSum
        h2.text-success {{formatDuration maximumDurationSum}}
    .col-lg-1.duration
      if calculatedDurationSum
        h2.text-muted {{formatDuration calculatedDurationSum}}
    .col-lg-1.control-icons.text-center
      h2
        if isEdited
          i.fa.fa-trash-o.remove(data-confirmation="{{t 'forms.meeting.actions.removeConfirmation'}}")
  each saker
    .saker
      .row.cue
        .col-lg-8.col-lg-offset-1.name
          h3
            | #{name}
            small #{number}
        .col-lg-1.duration
          h3(class=durationOverflowClass) {{formatDuration maximumDuration}}
        .col-lg-1.duration
          h3.text-muted {{formatDuration calculatedDurationSum}}
      .talks
        each talks
          .row.talk
            .col-lg-8.col-lg-offset-1.name
              h4: a(href="/user/#{user._id}") #{user.profile.name}
            .col-lg-1.duration
            .col-lg-1.duration
              h4.text-muted {{formatDuration ../talkDuration}}
          .replies
            each replies
              .row.reply
                .col-lg-8.col-lg-offset-1.name
                  | +
                  a(href="/user/#{user._id}") #{user.profile.name}
                .col-lg-1.duration
                .col-lg-1.duration
                  span.text-muted {{formatDuration ../../replyDuration}}
      .row.talk.add
        .col-lg-8.col-lg-offset-1.name
          h4.text-muted Add delegate
        .col-lg-1.duration
        .col-lg-1.duration
  if not isNew
    .row
      .col-lg-8.col-lg-offset-1.name
        h3.text-muted
          | Add sak
      .col-lg-1.duration
      .col-lg-1.duration
