template(name="meeting")
  with meeting
    .container.meeting
      .row
        .col-lg-12
          h1 #{name}
          each saker
            h2
              | #{name}
              | &nbsp;
              small #{number}
            ul
              each talks
                li
                  a(href="/user/#{user._id}") #{user.profile.name}
                ul
                  each replies
                    li
                      a(href="/user/#{user._id}") #{user.profile.name}
              li
                span.text-muted Add delegate
          h2.text-muted
            | Add sak


